/*Global */

a{
  text-decoration: none;
  color: black;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  padding: 10vh 0 10vh 0;
  gap: 2vh;
  height: 80vh;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > img{
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 25vw;
}

.header > .social-media-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.links{
  display: flex;
  flex-direction: column;

  gap: 2vh;
}

.link{
  width: 50vw;
  height: 5vw;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.thumbnail{
  width: 48px;
  height: 48px;
  object-fit: cover;
}
