/*Global */

a{
  text-decoration: none;
  color: black;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  padding: 10vh 0 10vh 0;
  gap: 2vh;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > img{
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 25vw;
}

.header > .social-media-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  gap: 2vh;
}

.link{
  width: 60vw;
  height: 10vh;
  background-color: rgba(149, 123, 173, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vh;
  box-shadow: 5px 2.5px 2.5px rgba(255, 0, 0, 0.556);
  transition: 0.3s;
  padding:1vh;
  font-size: 1.25em;
}

.link > a {
  flex-grow: 1;
  text-align: center;
}

.link:hover{
  box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.556);
}

.thumbnail{
  width: 48px;
  height: 48px;
  object-fit: cover;
}


/*Imported Background*/
.background--custom {
  background: linear-gradient(90deg, #a4baf5, #c8e74d, #f5a2a1);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100vw;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/*End Imported Background*/


@media only screen and (max-width: 880px) {

  .header > .social-media-links {
    width: 80vw;
  }
  .link{
    width: 80vw;
    height:10vh;
    background-color: rgba(149, 123, 173, 0.25);
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 2.5px 2.5px rgba(255, 0, 0, 0.556);
    transition: 0.3s;
  }
}
